.container{
    display: flex;
    flex-direction: column;
    gap:5em;
}
.header{
    height:6em;
    width: cover;
    background:linear-gradient(to left,#ffbd2c,#ffa500,#f19900,#e38e00,#d58300);
    padding-top: 1em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.3) ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
body{
    background-color: #EDEDED;
    
}
.logo a{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding-left: 2em;
    text-decoration: none;
    user-select: none;
}


.buttonArea{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 7em;
    padding-right: 7em;
    padding-top:13em ;
    user-select: none;
}
.button{
    background:linear-gradient(to left,#ffc93b,#ffbd2c,#ffb11b,#ffa500,#f19900,#e38e00,#d58300);
    height: 15em;
    width: 15em;
    border-radius: 10px;
    text-align: center;
    color:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-shadow: 2px 2px 2px  rgba(0,0,0,0.3) ;

}
.buttonImg{
    height: 100px;
    width: 100px;
    
}


.button:hover{
    transform:scale(1.2);
    transition: all 0.6s cubic-bezier(0.165,0.84,0.44,1);
    box-shadow: 4px 4px 4px  rgba(0,0,0,0.3)
}

:not(:hover){
    transform:scale(1);
    transition: all 0.6s cubic-bezier(0.165,0.84,0.44,1);
}

.textButton1{
    padding-top: 7em;
}

.footer {
    height:20em;
    width: cover;
    background:linear-gradient(to left,#ffbd2c,#ffa500,#f19900,#e38e00,#d58300);
    padding-top: 1em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.3) ;
    
}
.footer a{
    text-decoration: none;
    color: white;
    text-align: center;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;

}
.logoFooter{
    justify-content: space-between;
    text-align: center;
}
.containerFooter{
    padding-left: 3em;
    color: white;
    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-between;
    padding-right: 5em;
    font-weight: bolder;
}
.sobre{
    padding-left: 3em;
    color: white;
    font:normal 10pt arial;
}
#barraPesquisa{
    
    border-radius: 10px;
    height: 2.5em;
    width: 30em;
    box-shadow: 0 0 0 0;
    outline: 0;
    border: 0;
    
}
.search{
    padding-top: 1.2em;
    padding-right: 35em;
    
}
.conteudoFooter{
    display: flex;
    flex-direction: row;
    gap:16.5em;
    color: white;
    font:normal 10pt arial;
    
}
.local{
    padding-left: 12em ;
}

.animado:hover{
    padding-left: 5em;
    transition: all 0.6s cubic-bezier(0.165,0.84,0.44,1);
}